# Ignore all
*

# Unignore files with specific extensions
!*.cpp
!*.python
!*.java
!*.txt
!*.md
!*.png
!*.pdf
!*.zip
!*.jpeg
!*.jpg
!*.html
!*.docx
!*.tex

# Unigore all dirs
!*/

# Unignore specific dirs  
# !/program/
# !/program/**/

