Local

# 根目录下的.gitignore_global我也设置了.DS_Store
.DS_Store

# Ignore all
*

# Unignore files with specific extensions
!*.cpp
!*.txt
!*.md
!*.png
!*.pdf
!*.zip
!*.html

# Unignore all dirs
!/Algorithm/
!/Algorithm/**/

