# 在mac根目录下的.gitignore_global设置了.DS_Store其实没用，因为我局部已经定义了.DS_Store的规则

# Ignore all
*

# Unignore files with specific extensions
!*.cpp
!*.txt
!*.md
!*.png
!*.pdf
!*.zip
!*.html

# Unignore all dirs
!/Algorithm/
!/Algorithm/**/

